.copilot
.gemini
.lightning_studio
.paddlex
.triton/
falcon_invoice_dataset/
imgs/
invoices/
uploads/
json_outputs/
stress_results_llm/
stress_results_vlm/


*.txt
!requirements.txt
*.csv.bash_history
.vscode-server
.cursor-server
.windsurf-server
.wget-hsts
vllm_engine/
